

body {font: 10pt arial;}

/* css for catagoty class name start */
div.surgery {
    font-family: monospace;
    box-shadow: 0 0 10px grey;
    background: tomato;
    border: none;	
}
div.timeline-event-line.surgery {
    background-color:#00FF7F;
        }
.surgery .toolage {
    background-image: url(https://raw.githubusercontent.com/anishmusa/anishmusa.github.io/master/surgery.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40px 20px;
    text-align: left;
}  	
/* css for catagoty class name end */ 

div.sign-symptom{
    background-color:#ffb3b3;
    font-family: monospace;
    box-shadow: 0 0 10px grey;
}
div.timeline-event-line.sign-symptom{
background-color:#00FF7F;
}
.sign-symptom .toolage {
    background-color: #ff1a1a; 
    color: white;      
    }

div.diagnostic-test{
    background-color:#00b33c;
    font-family: monospace;
    box-shadow: 0 0 10px grey;
}
div.timeline-event-line.diagnostic-test{
   background-color:##00b33c;
        }
.diagnostic-test .toolage {
    background-color: #00802b; 
    color: white;   
    }



/* css for catagoty class name start */
div.current-concern {
    font-family: monospace;
    box-shadow: 0 0 10px grey;
    background: whitesmoke;
    border: none;	
}
div.timeline-event-line.current-concern {
    background-color:#00FF7F;
        }
.current-concern .toolage {
    background-image: url(https://raw.githubusercontent.com/anishmusa/anishmusa.github.io/master/arrows.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40px 20px;
    text-align: left;
}  	
/* css for catagoty class name end */
div.precriptionid {
    background-color:#White;
    font-family: monospace;
    box-shadow: 0 0 10px grey;
}
div.timeline-event-line.precriptionid {
	background-color:#00FF7F;
        }	
div.life-event {
    background-color:#00FF7F;
    font-family: monospace;
    box-shadow: 0 0 10px grey;
}
div.timeline-event-line.life-event {
background-color:#00FF7F;
        }
div.OnGo {
    background-color:#DDA0DD;
    font-family: monospace;
    box-shadow: 0 0 10px grey;
}
div.timeline-event-line.OnGo {
background-color:#00FF7F;
        }	
.patient{
    position: fixed;
    top: 45px;
    font-size: 20px;
    left: 12px;
	text-align: left;
}		
.tooltip {
    position: initial;
    color: blue;
}
.toolage{
    padding-left:5px;
	padding-right:5px;
    background-color: greenyellow;
    font-weight: bold;
	}
.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 200px;
    background-color: #666;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px ;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
	top: -100%;
	left:0;	  
}

.tooltip:hover .tooltiptext {
    visibility: visible;
		
  
